---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>👋 Hello, I'm Dean "Loftwah" Lofts!</h1>
      <p>
        I’m a passionate tech enthusiast, Senior DevOps Engineer, and music producer, also known as Loftwah The Beatsmiff in music circles.
        I specialise in AWS, Docker, Ruby, and Golang, with a strong focus on optimising cloud infrastructure and driving innovation.
      </p>
      <p>
        Apart from my love for tech, I'm an open-source contributor to projects like Appwrite, EddieHub, and WordPress. 
        I have a special connection to music, creating beats and collaborating with artists across the globe.
      </p>
      <p>
        In my downtime, I enjoy sharing tech insights on YouTube, writing articles, and spending time with my family.
      </p>
      <h2>My Work & Projects</h2>
      <ul>
        <li><strong>Linkarooie</strong>: A full-featured, open-source alternative to Linktree built with Ruby on Rails.</li>
        <li><strong>Echosight</strong>: A Twitter/X analytics platform offering advanced insights.</li>
        <li><strong>Music Production</strong>: Producing music as Loftwah The Beatsmiff, collaborating with artists like Grind Mode Cypher and OptiMystic MC.</li>
      </ul>
      <h2>Get in Touch</h2>
      <p>
        Find me on <a href="https://twitter.com/loftwah" target="_blank">Twitter</a>, check out my beats on <a href="https://www.youtube.com/loftwahthebeatsmiff" target="_blank">YouTube</a>, or explore my open-source work on <a href="https://github.com/loftwah" target="_blank">GitHub</a>.
      </p>
      <h2>My Favourite Quotes</h2>
      <ul>
        <li>“Any sufficiently advanced technology is equivalent to magic.” – Arthur C. Clarke</li>
        <li>“Patience, persistence and perspiration make an unbeatable combination for success.” – Napoleon Hill</li>
        <li>"Software is like sex; it's better when it's free." – Linus Torvalds</li>
        <li>“The old world is dying, and the new world struggles to be born; now is the time of monsters.” – Antonio Gramsci</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
