---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ScheduleComponent from '../components/Schedule';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Schedule - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto p-6">
      <div class="max-w-3xl mx-auto">
        <section>
          <ScheduleComponent client:load />
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>
